/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

 params {
  // illumina iGenomes reference file paths on cluster
  genomes {
    'hg38' {
      mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/mature.fa"
      hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/hairpin.fa"
      bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BowtieIndex/genome"
      bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome"
      fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      }
    'hg19' {
      mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/SmallRNA/mature.fa"
      hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/SmallRNA/hairpin.fa"
      bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/BowtieIndex/genome"
      bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome"
      fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      }
    'mm10' {
      mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/mature.fa"
      hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/hairpin.fa"
      bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BowtieIndex/genome"
      bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome"
      fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      }
    'mm9' {
      mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/mature.fa"
      hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/hairpin.fa"
      bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BowtieIndex/genome"
      bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome"
      fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      }
    'rn6' {
      mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/mature.fa"
      hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/hairpin.fa"
      bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BowtieIndex/genome"
      bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome"
      fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      }
  }
}
